<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tabla de Posiciones</title>
    <meta 
        name="description"
        content="Descubre la tabla de posiciones actualizada de la liga argentina de fútbol de primera división en tiempo real. Sigue el desempeño de tu equipo favorito y mantente al día con los últimos resultados y estadísticas de cada jornada. Conoce los líderes en goles, los equipos con mejor defensa y los que están en la lucha por el título. No te pierdas ni un detalle de la emocionante temporada de fútbol en Argentina con nuestra tabla de posiciones actualizada."
    >
    <meta name="keywords" content="fútbol, Argentina, primera división, tabla de posiciones, equipos, partidos, resultados">
    <meta name="author" content="Tomás Yovino">
    <meta name="robots" content="index">
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    {{{body}}}
</body>

</html>